@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

body{
  margin: 0 auto;
  background-color: #faf9f8;
  color: #333333;
  text-align: center;
}

h2{
  font-size: 137px;
  color: #dddcda;
  text-transform: uppercase;
  font-family: 'Abril Fatface', cursive;
}

h3{
  font-size: 20px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

h4{
  font-size: 15px;
  text-transform: capitalize;
}

p{
  font-size: 13px;
  margin: 5px 0;
}

div{
  max-width: 700px;
}

img{
  width: 250px;
  padding: 0;
  margin: 0;
  display: inline;
  opacity: 0.85;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

ol {
  text-align: left;
  list-style-position: inside;
  margin: 30px 0;
}

li{
  padding: 1px ;
  font-size: 13px;
}

a {
  color: #333333;
  text-decoration: none;
  padding: 0 5px;
}

a:hover{
  border: dashed #333333 0.5px;
}

em{
  font-size: 9px;
}

span{
  font-style: italic;
}

/* classes */


.float-left{
  float: left;
}

.row{
  display: flex;
}

.col-1-2{
  width: 50%;
}

.container{
  position: relative;
}

.center{
  position: absolute;
  text-align: center;
  /* width: 100%; */
}

.vertical{
  padding: 10px 25px;
  display: flex;
  flex-flow: column;
}

.vertical a{
  margin-top: 25px;
}


/* nav bar */
.nav{
  font-size: 10px;
  text-transform:capitalize;
}

.nav ul{
  padding: 150px;
}

.nav li{
  color: #faf9f8;
  display: inline;
}

.nav a{
  padding: 10px;
  margin: 0 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #333333;
  color: #faf9f8;
}

.nav a:hover{
  background-color: #111111;
}
.nav a:active {
  background-color: #111111;
}

.next-btn{
  background-color: #333333;
  color: #faf9f8;
  padding: 7px;
}

/* ID's */

#logotype{
  font-family: 'Abril Fatface', cursive;
  font-size: 10px;
  text-align: left;
  text-transform: uppercase;
  margin: 10px 0;
}

#gh-icon{
  height: 80px;
  width: 80px;
}